<% if @note %>
  <p>Are you sure you want to delete the following note: <em>"<%=h @note.content %>"</em>?</p>
  <form action="/notes/<%= @note.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes">
	<input type="cancel" value="No">
    <a href="/notes/<%= @note.id %>">Cancel</a>
  </form>
<% else %>
  <p>Note not found.</p>
<% end %>