<section id="add">
	<form action="/notes" method="post">
		<textarea name="content" placeholder="Your note&hellip;"></textarea>
		<input type="submit" value="Take Note!">
	</form>
</section>

<% @notes.each do |note| %>
	<% if(note.deleted == false) %>
	<article <%= 'class="complete"' if note.complete %>>
	<p>
		<%=h note.content %>
		<span><a href="/notes/<%= note.id %>">[edit]</a></span>
	</p>
	<p class="links">
		<a href="/notes/<%= note.id %>/complete">&#8623;</a>
	</p>
	<p class="meta">
	<%= "U: #{Time.parse(note.updated_at.to_s).rfc822}" if note.created_at < note.updated_at %>
	<%= "C: #{Time.parse(note.created_at.to_s).rfc822}" if note.created_at >= note.updated_at %>
	</p>
	</article>
	<% end %>
<% end %>

<center><p><a href="/notes/rss.xml">Notes Feed</a></p></center>