<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <% if @title %>
    <title><%= "#{@title} | #{SITE_TITLE}" %></title>
  <% else %>
    <title><%= "#{SITE_TITLE}" %></title>
  <% end %>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47453794-1', 'mxdm.net');
  ga('send', 'pageview');

</script>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/"><%= SITE_TITLE %></a></h1>
      <h2><%= SITE_DESCRIPTION %></h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
	<center><a href="/notes">Notes</a> | <a href="/secret">Secret</a> | <a href="/agent">Agent</a></center>
  </footer>
</body>
</html>
