<% if @data %>
	<p>SHA2 Encoded: <%= @data %></p>
<% else %>
	<p>SHA2 Encoder</p>
<% end %>

<form action="/secret" method="post">
  <input type="text" name="secret">
  <input type="submit" text="DO IT">
</form>
<br/>
<% sha = SHA.all :order => :updated_at.desc, :limit => 5 %>
<% sha.each do |sha| %>
<div class='entry'>
	<p>Original: <%= sha.original %></p>
	<p>Encoded: <%= sha.content %></p>
	<p>Created: <%= sha.created_at.strftime("%Y-%m-%d %H:%M:%S") %>, <%= sha.updated_at.strftime("%Y-%m-%d %H:%M:%S") %> #<%= sha.found %></p>
	<br/>
</div>
<% end %>