<% unless @notice.nil? %>
<p><%= @notice %></p>
<% end %>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input name="file" type="file" />
    <input type="submit" value="Upload" />
</form>