<% @visitors.each do |visitor| %>
<div class='entry'>
	<!-- <p>ID: <%= visitor.id %></p> -->
	<p>Visits: <%= visitor.visit %></p>
	<p>Page: <%= visitor.page %></p>
	<p>Address: <%= visitor.ip_address %></p>
	<p>Updated: <%= visitor.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
	<p>Created: <%= visitor.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
	<br/>
</div>
<% end %>